
.display{
   color: white;
   width: 100%;
   text-align: end;
   font-size: 100px;
   margin-top: 30px;
   background: #343434;
   border-radius: 5px;
}
.display > span{
  color: #343434;
}
.main{
  
  height: 100%;
}
.container{
  margin-top: 45px;
  
}
.row1, .row2, .row3, .row4, .row5{
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 5px;
  padding-left: 10px;
  
}

.row1 > button {
  padding: 30px 45px;
  
}

.row2 > button {
  padding: 30px 45px;
  
}

.row3 > button {
  padding: 30px 45px;
  
}

.row4 > button {
  padding: 30px 45px;
  
}

.row5 > button {
  padding: 30px 45px;
  
}

